
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");


html {
  font-size: 14px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  background: #000;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
body,
html {
  -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration:none;
}
a,
a.nav-link {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 25px;
}
.last-paragraph-no-margin p:last-of-type {
  margin-bottom: 0;
}
ul {
  list-style-position: outside;
  margin-bottom: 25px;
}
ul {
  margin: 0;
  padding: 0;
}




header [class^="container-"] [class^="col-"],
header [class^="container-"] [class*=" col-"] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

.alt-font {
  font-family: "Poppins", sans-serif;
}




.bg-white {
  background-color: #fff;
}
.bg-transparent {
  background-color: transparent;
}
.bg-slate-blue {
  background-color: #262b35;
}

.bg-gradient-fast-blue-purple {
  background-image: linear-gradient(
    to right top,
    #0039e3,
    #4132e0,
    #5e28dd,
    #741bd9,
    #8600d4
  );
}


section {
  padding: 130px 0;
  overflow: hidden;
}


.box-shadow-large {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.border-top {
  border-top: 1px solid !important;
}

.border-color-white-transparent {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.border-radius-6px {
  border-radius: 6px;
}



.margin-15px-bottom {
  margin-bottom: 15px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}



.padding-6-rem-bottom {
  padding-bottom: 6rem;
}



.padding-40px-tb {
  padding-top: 40px;
  padding-bottom: 40px;
}

.icon-very-small {
  font-size: 13px;
}


.navbar-brand {
  margin-right: 0;
  font-size: 0;
  display: inline-block;
}

.navbar-toggler {
  font-size: 24px;
  width: 22px;
  height: 14px;
  display: inline-block;
  position: relative;
  padding: 0;
  border: none;
  vertical-align: middle;
  border-radius: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-line {
  background: #232323;
  height: 2px;
  width: 22px;
  content: "";
  display: block;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.navbar-toggler-line:nth-child(1) {
  top: 0px;
  width: 14px;
}
.navbar-toggler-line:nth-child(2),
.navbar-toggler-line:nth-child(3) {
  top: 6px;
}
.navbar-toggler-line:nth-child(4) {
  top: 12px;
  width: 14px;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff !important;
  cursor: pointer;
}
.navbar.navbar-light .navbar-nav .nav-link {
  color: #f9f9f9;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #f9f9f9;
  cursor: pointer;
}

.navbar.navbar-light .navbar-nav > .nav-item.dropdown.megamenu:hover > a,
.navbar.navbar-light .navbar-nav > .nav-item.dropdown.simple-dropdown:hover > a {
  color: #ddd !important;
}

header .navbar .navbar-brand img {
  max-height: 36px;
}
header .navbar .navbar-brand .default-logo {
  visibility: visible;
  opacity: 1;
  width: auto;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
header .navbar-brand .alt-logo,
header .navbar .navbar-brand .mobile-logo {
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.navbar .navbar-nav .nav-link {
  padding: 25px 0;
  font-weight: 500;
  font-size: 14px;
  margin: 0 18px;
  word-break: normal;
}
.navbar .justify-content-end .navbar-nav li:last-child .nav-link {
  margin-right: 0;
}



.nav-item.dropdown.megamenu {
  position: inherit;
}





.portfolio-image img {
  width: 100%;
}
.grid {
  list-style: none;
}
.grid-sizer {
  padding: 0 !important;
  margin: 0 !important;
}

.grid.gutter-extra-large li {
  padding: 15px;
}

.grid.sm-grid-2col li { width: 50%; }





.grid.grid-3col li {
  width: 33.33%;
  float: left;
  list-style: none;
}



.grid-filter li {
  display: inline-block;
  float: none;
  padding: 0 20px;
  border: 0;
  position: relative;
}
.grid-filter li:first-child {
  padding-left: 0;
}
.grid-filter li:last-child {
  padding-right: 0;
}
.grid-filter li a {
  border: 0;
  border-bottom: 1px solid;
  border-color: transparent;
  color: #fff;
  padding-bottom: 2px;
}
.grid-filter > li.active > a,
.grid-filter > li.active > a:focus,
.grid-filter > li.active > a:hover,
.grid-filter > li > a:hover {
  border: 0;
  color: inherit;
  border-bottom: 1px solid;
  color: #ddd;
}


.portfolio-box .portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-box .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
.portfolio-box:hover .portfolio-hover {
  opacity: 1;
}
.portfolio-box .portfolio-hover .portfolio-icon {
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 5px;
}
.portfolio-box *,
.portfolio-box:hover * {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.portfolio-classic .portfolio-box:hover .portfolio-image img {
  transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  opacity: 0.15;
}

.portfolio-classic .portfolio-icon a {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  margin: 0 3px;
  position: relative;
  z-index: 3;
}
.portfolio-classic .portfolio-box {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.portfolio-classic .portfolio-box:hover {
  transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
}
.portfolio-classic .portfolio-box:hover .portfolio-image img {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}
.portfolio-classic .portfolio-icon a:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.portfolio-classic .portfolio-box .portfolio-icon a {
  opacity: 0;
  transform: translateY(15px);
  -moz-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
}
.portfolio-classic .portfolio-box:hover .portfolio-icon a {
  opacity: 1;
  transition-delay: 0.1s;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
}
.portfolio-classic .portfolio-box:hover .portfolio-icon a:last-child {
  transition-delay: 0.2s;
}








@media (max-width: 500px){
    .grid.xs-grid-1col li { width: 100%; }
    .grid.grid-3col li {
        width: 100%;
        float: none;
        list-style: none;
    }
}

.mfp-close-btn-in .modal-popup-main .mfp-close {
    position: absolute;
  }
  .mfp-removing .mfp-close {
    display: none;
  }
  
  .subscribe-popup .modal-popup-main .mfp-close,
  .subscribe-popup .modal-popup-main .mfp-close:active {
    position: absolute;
    color: #fff;
  }
  
  .lightbox-gallery a {
    position: relative;
    display: block;
  }
  .lightbox-gallery .gallary-over-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
  